:root.theme-light {
    color-scheme: light;
    --bg-color: #FFF1F7;
    --text-bg-color: #FF8DCB;
    --text-color: #353430;
    --title-color: #FFC2E6;
    --title-group-color: #353430;
    --entry-title-color: #353430;
    --shadows-color: #FF8DCB;
    --border-color: #353430;
    --decoration-color: 53, 52, 48;

    --background-image: url("../images/cover-image-light.png");
    --record-display: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #FFF1F7;
        --text-bg-color: #FF8DCB;
        --text-color: #353430;
        --title-color: #FFC2E6;
        --title-group-color: #353430;
        --entry-title-color: #353430;
        --shadows-color: #FF8DCB;
        --border-color: #353430;
        --decoration-color: 53, 52, 48;

        --background-image: url("../images/cover-image-light.png");
        --record-display: none;
    }
}
