.header {
    min-height: 668px;
    height: 100vh;
    position: relative;
}

.decoration {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
}

.decoration-borders {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.border {
    width: 25px;
    aspect-ratio: 1;
}

.end-start-border {
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: var(--border-color);
    margin-left: auto;
}

.start-end-border {
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: var(--border-color);
    margin-right: auto;
}

.header__decoration-rec-wrapper {
    position: absolute;
    padding-right: 9px;
    display: var(--record-display);
    gap: 10px;
    align-items: center;
    color: rgb(var(--decoration-color));
}

.header__rec-text {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0;
    font-weight: 400;
    padding-right: 19px;
    position: relative;
}

.header__rec-text::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: rgb(var(--decoration-color));
    box-shadow: 0 0 4px 2px rgb(var(--decoration-color));
}

.title {
    color: var(--title-color);
    text-shadow: 4px 4px var(--shadows-color);
    line-height: 83%;
    letter-spacing: 0;
}

.header__subtitle {
    color: var(--entry-title-color);
    background-color: var(--text-bg-color);
}

main {
    display: flex;
    flex-direction: column;
}

.group__title {
    color: var(--title-group-color);
    margin-block-end: 20px;
}

.group__entry-title,
.group__subtitle {
    color: var(--entry-title-color);
    background-color: var(--text-bg-color);
    margin-block-end: 10px;
}

.group__entry-title,
.group__entry-text {
    font-weight: 400;
}

h2,
h3,
h4,
.group__subtitle,
.group__entry-text {
    font-size: 18px;
    line-height: 1.4625rem;
    letter-spacing: 0;
}

.group__entry-text {
    font-family: 'IBM Plex mono', monospace;
    color: var(--text-color);
    margin-block-end: 20px;
}

.group__title,
.group__subtitle {
    font-weight: 700;
}

.group__subtitle {
    margin-block-end: 20px;
}

.subtitle {
    margin-block-end: 10px;
}

.gallery__item {
    margin: 0;
    width: 100%;
    height: 100%;
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    min-height: 668px;
    height: 100vh;
    position: relative;
}

figure img {
    display: block;
    min-width: 100%;
}

a {
    text-shadow: 2px 2px var(--shadows-color);
    text-decoration: none;
    position: relative;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 0;
    height: 1px;
    background: currentColor;
}

a:hover::after {
    width: 100%;
}

a:focus-visible {
    outline: none;
    border: none;
    box-shadow: 0 0 0 1px currentColor;
}

.header__theme-menu-button:hover {
    border: 1px solid rgba(var(--decoration-color), 0.5);
}

.header__theme-menu-button:focus-visible {
    outline: none;
    box-shadow: 0 1px 0 0 rgba(var(--decoration-color));
}

.page {
    background-image: var(--background-image);
    background-color: var(--bg-color);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'IBM Plex mono', monospace;
}

@media (min-width: 375px) {
    .header,
    .header__decoration,
    main {
        padding: 10px;
    }

    .header__theme-menu {
        display: flex;
        place-content: end;
        margin-block-start: 63px;
        margin-block-end: 59px;
    }

    .header__theme-menu-list {
        display: flex;
        flex-direction: column;
    }

    .gallery {
        padding-block-end: 30px;
    }

    .header__theme-menu-button {
        z-index: 1;
        display: inline-block;
        background: none;
        border: none;
        cursor: pointer;
        font: inherit;
        user-select: none;
        text-transform: lowercase;
        font-family: 'IBM Plex mono', monospace;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0;
        text-align: center;
        color: rgb(var(--decoration-color));
        min-width: 70px;
        min-height: 26px;
        font-weight: 400;
    }

    .header__theme-menu-button_active {
        border: 1px solid rgb(var(--decoration-color));
    }

    .title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }

    .header__theme-menu-item {
        padding-block-end: 10px;
    }

    .header__title {
        margin-block-end: 53px;
    }

    .header__subtitle {
        margin-block-end: 55px;
    }

    .header__decoration-rec-wrapper {
        top: 10px;
        right: 10px;
    }

    footer {
        display: flex;
        place-content: center;
        align-items: center;
    }

    .footer__decoration {
        padding: 10px;
    }

    .group {
        margin-block-end: 29px;
    }

    .hard-focus {
        margin-block-start: 31px;
    }

    .images {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media (min-width: 768px) {
    .header,
    .header__decoration,
    main {
        padding: 20px;
    }

    .header__decoration-rec-wrapper {
        top: 20px;
        right: 20px;
    }

    .header__theme-menu {
        margin-block-start: 171px;
        margin-block-end: 166px;
    }

    .title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__title {
        margin-left: -20px;
        margin-block-end: 161px;
    }

    .header__subtitle {
        max-width: 364px;
        place-self: end;
        margin-block-end: 162px;
    }

    .group {
        margin-block-end: 60px;
    }

    .group__title {
        max-width: 236px;
    }

    .hard-focus {
        margin-block-start: 40px;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 20px;
    }

    .how-focus {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 20px;
    }

    .how-focus .group__title {
        grid-column: 1;
    }

    .group__subtitle {
        grid-column: 2;
    }

    .how-focus .group__entries {
        grid-column: 2;
    }

    .gallery .subtitle {
        margin-block-end: 20px;
    }

    .images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 192px auto 318px;
        gap: 20px;
    }

    .gallery__item:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .gallery__item:nth-child(2) {
        grid-column: 3;
        grid-row: 1 / 3;
    }

    .gallery__item:nth-child(5) {
        grid-column: 2 / 4;
        grid-row: 3;
    }

    .gallery__item:nth-child(3) {
        grid-column: 1;
        grid-row: 2 / 4;
    }

    .gallery {
        padding-block-end: 40px;
    }

    .footer__decoration {
        padding: 20px;
    }
}

@media (min-width: 1024px) {
    .header__theme-menu {
        place-content: center;
        align-content: start;
        margin-block-start: 0;
        margin-block-end: 275px;
    }

    .header__theme-menu-list {
        display: flex;
        flex-direction: row;
        min-width: 230px;
        justify-content: space-between;
    }

    .header__theme-menu-item {
        padding-block-end: 0;
    }

    .header__title {
        margin-block-end: 113px;
    }

    .header__subtitle {
        min-width: 491px;
        margin-block-end: 113px;
    }

    .group__title {
        min-width: 315px;
    }

    .reduces-focus {
        margin-block-end: 60px;
    }

    .reduces-focus .group__entries {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .reduces-focus .group__entries .group__entry {
        max-width: 315px;
    }

    .images {
        grid-template-rows: 260px auto 433px;
    }
}
