:root {
    color-scheme: dark;
    --bg-color: #000028;
    --text-bg-color: #FF0070;
    --text-color: #F1B2CE;
    --title-color: #DB00FF;
    --title-group-color: #FF0070;
    --entry-title-color: #000028;
    --shadows-color: #FF0070;
    --border-color: #FF0070;
    --decoration-color: 255, 0, 112;

    --background-image: url("../images/cover-image-dark.png");
    --record-display: flex;
}